<script type="text/javascript">

    $(document).ready(function () {
        //alert('결제가 정상 처리되었습니다. 구매하신 상품은 \'마이페이지-구매목록\'에서 확인하실 수 있습니다. 구매하신 폰트가 목록에 없을 경우 새로고침(F5)를 눌러주세요.');
        window.opener.location.href = '/mypage/index?flag=1';
        window.close();
    });
</script>



<div class="col-md-9 content">
    <div class="portfolio-wrapper all">


    </div><!-- end portfolio-wrapper -->

</div>
