<script type="text/javascript">
    var font_seqs = '@ViewBag.font_seqs';
    var totalPrice = 0;
    var first_font_name = '';

    var windowClose = function () {
        self.close();
    }

    var refreshParent = function () {
        window.opener.location.reload();
    }

    // 결제창에 폰트 목록 띄우기
    var paymentIndex = function (font_seqs) {
        var data = {
            font_seqs: font_seqs
        }
        //console.log(data);

        loadingStart();

        $.ajax({
            url: '/font/ListBySeq',
            method: 'GET',
            data: data,
            success: function (result) {
                loadingStop();
                if (result.state == 'ok') {
                    for (var index = 0; index < result.data.length; index++) {
                        var item = result.data[index];

                        if (index == 0) {
                            first_font_name = item.name;
                        }
                        var appendData = '<tr>' + '<td>' + (index + 1) + '</td>';
                        appendData += ('<td>' + item.name + '</td>');
                        appendData += ('<td>' + item.brand_info.name + '</td>');
                        //appendData += ('<td>' + item.period + '개월' + '</td>');
                        if (item.period == 0) {
                            appendData += ('<td>' + '무제한' + '</td>');
                        } else {
                            appendData += ('<td>' + item.period + '개월' + '</td>');
                        }
                        appendData += ('<td>' + item.price_commercial + '원' + '</td>');
                        $('#payment-list table tbody').append(appendData);

                        totalPrice += item.price_commercial;
                    }
                    // 총 결제금액
                    $('#payment-list .total-price h3').html(totalPrice + '원');

                    if (totalPrice == 0) {
                        $('.pay-method').css('display', 'none');
                    }
                }
            },
            error: function (xhr, textStatus, error) {
                loadingStop();
                alert('잘못된 요청입니다.');
                //console.log(xhr.statusText);
                //console.log(textStatus);
                //console.log(error);
            }
        })
    }

    // 상업용 구매시 필요한 정보 입력후 확인
    var pay = function () {
        var companyNumber = $('#inputCompanyNumber').val();
        var email = $('#inputEmail').val();
        var name = $('#inputName').val();
        var phone = $('#inputPhone').val();
        var purpose = $('#inputPurpose').val();

        if (!isValid(companyNumber)) {
            alert('사업자 번호를 입력해주세요');
            return;
        }
        if (!isValid(email)) {
            alert('담당자 이메일을 입력해주세요');
            return;
        }
        if (!isValid(name)) {
            alert('담당자 이름을 입력해주세요');
            return;
        }
        if (!isValid(phone)) {
            alert('전화번호를 입력해주세요');
            return;
        }
        if (!isValid(purpose)) {
            alert('폰트 사용처를 입력해주세요');
            return;
        }
        //TODO 지워야함
        //totalPrice = 500;

        // 상업용 폰트 구매시 필요한 정보
        $('input[name=companynumber]').val(companyNumber);
        $('input[name=companyemail]').val(email);
        $('input[name=companyname]').val(name);
        $('input[name=companyphone]').val(phone);
        $('input[name=purpose]').val(purpose);


        $('input[name=amount]').val(totalPrice);
        $('input[name=userid]').val(getUserInfo());

        var fontids = font_seqs.replace(/,/gi, '/');
        if (fontids.slice(-1) == '/') {
            fontids = fontids.slice(0, -1);
        }

        var font_count = fontids.split('/').length;
        if (font_count > 1) {

            $('input[name=product]').val(first_font_name + ' 외 ' + font_count + '개 폰트');
        }
        else {
            $('input[name=product]').val(first_font_name);
        }
        $('input[name=fontids]').val(fontids);

        var pay_tool = $(':radio[name="pay-tool"]:checked').val();
        if (pay_tool == 'ACCOUNT') {
            $('#form2').submit();
        }
        else {
            $('#formPhone2').submit();
        }

        
    }

    $(document).ready(function () {
        paymentIndex(font_seqs);
        //fontIndex(font_seq);
        window.onunload = refreshParent;
    });
</script>
<div class="col-md-9 content">
    <div class="page">
        <article>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">결제상품목록</h3>
                </div><!-- end panel-heading -->
                <div id="payment-list" class="panel-body">
                    <table class="table table-alternative table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>폰트이름</th>
                                <th>브랜드</th>
                                <th>사용기간</th>
                                <th>가격</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*<tr>
                                    <td>1</td>
                                    <td>RF질질이</td>
                                    <td>장경호</td>
                                    <td>리얼폰트</td>
                                    <td>2015.11.16</td>
                                    <td>1년</td>
                                    <td>5,500원</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>RF멍멍이</td>
                                    <td>장경호</td>
                                    <td>리얼폰트</td>
                                    <td>2015.11.16</td>
                                    <td>1년</td>
                                    <td>5,500원</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>RF야옹이</td>
                                    <td>장경호</td>
                                    <td>리얼폰트</td>
                                    <td>2015.11.16</td>
                                    <td>1년</td>
                                    <td>5,500원</td>
                                </tr>*@
                        </tbody>
                    </table>
                    <div class="total-price" style="text-align:center">
                        총 결제 금액<h3>@*16,500원*@</h3>
                    </div>
                </div><!-- end panel-body -->
            </div><!-- end panel -->
            <div class="panel panel-info pay-method">
                <div class="panel-heading">
                    <h3 class="panel-title">결제수단</h3>
                </div><!-- end panel-heading -->
                <div class="panel-body" style="text-align:center">
                    <label class="radio" style="display:inline-block; margin-right: 10px">
                        <input name="pay-tool" type="radio" value="ACCOUNT" checked />
                        <span></span>
                        계좌이체
                    </label>
                    <label class="radio" style="display:inline-block; margin-right: 10px">
                        <input name="pay-tool" type="radio" value="PHONE"/>
                        <span></span>
                        휴대폰 결제
                    </label>
                </div><!-- end panel-body -->
            </div><!-- end panel -->
            <form id="commercial-info" class="form-horizontal">
                <div class="form-group">
                    <label class="control-label" for="inputCompanyNumber">사업자번호</label>
                    <div class="controls">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="inputCompanyNumber" placeholder="사업자 번호(-없이 번호만)" />
                            </div><!-- end col md -->
                        </div><!-- end row -->
                    </div><!-- end controls-->
                </div><!-- end form-group -->
                <div class="form-group">
                    <label class="control-label" for="inputEmail">담당자 이메일</label>
                    <div class="controls">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="inputEmail" placeholder="이메일" />
                            </div><!-- end col md -->
                        </div><!-- end row -->
                    </div><!-- end controls-->
                </div><!-- end form-group -->
                <div class="form-group">
                    <label class="control-label" for="inputName">담당자 이름</label>
                    <div class="controls">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="inputName" placeholder="담당자 이름" />
                            </div><!-- end col md -->
                        </div><!-- end row -->
                    </div><!-- end controls-->
                </div><!-- end form-group -->
                <div class="form-group">
                    <label class="control-label" for="inputPhone">회사 대표 전화</label>
                    <div class="controls">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="inputPhone" placeholder="전화번호" />
                            </div><!-- end col md -->
                        </div><!-- end row -->
                    </div><!-- end controls-->
                </div><!-- end form-group -->
                <div class="form-group">
                    <label class="control-label" for="inputPurpose">폰트 사용처</label>
                    <div class="controls">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="inputPurpose" placeholder="폰트 사용처" />
                            </div><!-- end col md -->
                        </div><!-- end row -->
                    </div><!-- end controls-->
                </div><!-- end form-group -->

            </form>
            <div style="text-align:center">
                <button class="btn btn-default" onclick="pay()">결제</button>
                <button class="btn btn-danger" onclick="windowClose()">취소</button>
            </div>
        </article><!-- end article -->
    </div><!-- end page -->
</div>

<form id="form2" action="http://realfontpay.place5.com/Ready.aspx" method="post" accept-charset="euc-kr">
    <input type="hidden" name="ispersonal" value="0" />
    <input type="hidden" name="amount" value="500" />
    <input type="hidden" name="product" value="RF또똣등폰트2개" />
    <input type="hidden" name="userid" value="20" />
    <input type="hidden" name="fontids" value="55/56" />

    <input type="hidden" name="companynumber" value="" />
    <input type="hidden" name="companyemail" value="" />
    <input type="hidden" name="companyname" value="" />
    <input type="hidden" name="companyphone" value="" />
    <input type="hidden" name="purpose" value="" />
</form>

<form id="formPhone2" action="http://realfontphone.place5.com/Ready.aspx" method="post" accept-charset="euc-kr">
    <input type="hidden" name="ispersonal" value="0" />
    <input type="hidden" name="amount" value="500" />
    <input type="hidden" name="product" value="RF또똣등폰트2개" />
    <input type="hidden" name="userid" value="20" />
    <input type="hidden" name="fontids" value="55/56" />

    <input type="hidden" name="companynumber" value="" />
    <input type="hidden" name="companyemail" value="" />
    <input type="hidden" name="companyname" value="" />
    <input type="hidden" name="companyphone" value="" />
    <input type="hidden" name="purpose" value="" />
</form>